
<h2 id="title">Welcome to Ember</h2>
<div style="width: 100%; color: white">
  <ul style="list-style-type: none; margin: 0; padding: 0;">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</div>
{{outlet}}
